    <!-- NAVBAR -->
    <nav>
        <div class="nav-wrapper indigo darken-4 ">
            <a href="/" class="brand-logo">Blogrite</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } else { %>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown1">
                            Notifications
                            <% if (notifications.length>0) {%> 
                                <span class="new badge"><%= notifications.length %></span>
                            <% }%>
                        </a>
                        <ul id="dropdown1" class="dropdown-content" >
                            <% notifications.forEach(function(notification) { %>                          
                                <li style="width: 200px;">
                                    <a href="/notification/<%= notification._id %>">
                                        <%= notification.username %> commented on <%= notification.blog %> %> 
                                    </a>
                                </li>
                                <li class="divider" tabindex="-1"></li>
                            <% }); %>
                            <li >
                                <a href="/notification">View past notifications</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/user/<%=currentUser._id%>"><%= currentUser.displayName %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
            <form class="search-form" action="/blog" method="GET" > 
                <div class="input-field search-input">
                    <input id="search" type="search" name="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li class="divider" tabindex="-1"></li>
        <% if(!currentUser){ %>
            <li><a href="/login">Login</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/register">Register</a></li>
        <% } else { %>
            <li><a href="/user/<%=currentUser._id%>"><%= currentUser.displayName %></a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/notification">
                    Notifications
                    <span class="new badge"><%= notifications.length %></span>
                </a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>