<% include ./partials/header %>

<div class="container-home">
    <section class="mt-3">
        <% for(let i=0;i<blogs.length;i+=6){ %>
        <div class="row">
            <% if(blogs[i]!=null){%>
                <div class="col s12">
                    <a class="card-link" href="/blog/<%=blogs[i]._id%>" >
                        <div class="card horizontal hvr-grow">
                            <div class="card-image card-image-horizontal">
                                <img class="horizontal-card-image" src="<%= blogs[i].image %>">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title center"><b><%= blogs[i].title %></b></span>
                                    <p class="blog_content_old" style="display: none;"><%= blogs[i].body.substring(0,200)+"..." %></p>
                                    <p class="blog_content_new"  style="font-size: 16px;" ></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if(blogs[i+1]!=null){%>
                <div class="col s12 m6 l4">
                    <a class="card-link" href="/blog/<%=blogs[i+1]._id%>" >
                        <div class="card card-three hvr-grow">
                            <div class="card-image">
                                <img src="<%= blogs[i+1].image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title"><b><%= blogs[i+1].title %></b></span>
                                <p class="blog_content_old" style="display: none;"><%= blogs[i+1].body.substring(0,200)+"..." %></p>
                                <p class="blog_content_new"></p>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if(blogs[i+2]!=null){%>
                <div class="col s12 m6 l4">
                    <a class="card-link" href="/blog/<%=blogs[i+2]._id%>" >
                        <div class="card card-three hvr-grow">
                            <div class="card-image">
                                <img src="<%= blogs[i+2].image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title"><b><%= blogs[i+2].title %></b></span>                        
                                <p class="blog_content_old" style="display: none;"><%= blogs[i+2].body.substring(0,200)+"..." %></p>
                                <p class="blog_content_new"></p>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if(blogs[i+3]!=null){%>
                <div class="col s12 m6 l4">
                    <a class="card-link" href="/blog/<%=blogs[i+3]._id%>" >
                        <div class="card card-three hvr-grow">
                            <div class="card-image">
                                <img src="<%= blogs[i+3].image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title"><b><%= blogs[i+3].title %></b></span>
                                <p class="blog_content_old" style="display: none;"><%= blogs[i+3].body.substring(0,200)+"..." %></p>
                                <p class="blog_content_new"></p>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if(blogs[i+4]!=null){%>
                <div class="col s12 m6 l6">
                    <a class="card-link" href="/blog/<%=blogs[i+4]._id%>" >
                        <div class="card card-two hvr-grow">
                            <div class="card-image">
                                <img src="<%= blogs[i+4].image %>">
                            </div>
                            <div class="card-content">
                                    <span class="card-title"><b><%= blogs[i+4].title %></b></span>
                                <p class="blog_content_old" style="display: none;"><%= blogs[i+4].body.substring(0,200)+"..." %></p>
                                <p class="blog_content_new"></p>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
            <% if(blogs[i+5]!=null){%>
                <div class="col s12 m6 l6">
                    <a class="card-link" href="/blog/<%=blogs[i+5]._id%>" >
                        <div class="card card-two hvr-grow">
                            <div class="card-image">
                                <img src="<%= blogs[i+5].image %>">
                            </div>
                            <div class="card-content">
                                <span class="card-title"><b><%= blogs[i+4].title %></b></span>
                                <p class="blog_content_old" style="display: none;"><%= blogs[i+5].body.substring(0,200)+"..." %></p>
                                <p class="blog_content_new"></p>
                            </div>
                        </div>
                    </a>
                </div>
            <%}%>
        </div><% } %>
    </section>
</div>

<!-- FLOATING ACTION BUTTON -->
<div class="fixed-action-btn">
    <a href="/blog/create"class="btn-floating btn-large indigo darken-4">
      <i class="large material-icons">mode_edit</i>
    </a>
</div>

<script>
    $(document).ready(function(){
        var blogs_length=<%=blogs.length%>;
        var blog_body=document.getElementsByClassName("blog_content_old");
        var blog_body_new=document.getElementsByClassName("blog_content_new");
        for(i=0;i<blogs_length;i++){
            blog_body_new[i].innerHTML=blog_body[i].innerText;
        }
    })
</script>

<% include ./partials/footer %>
