<% include ../partials/header %>

<div class="container-home">
    <div class="row mt-3">
        <div class="col s12 m3">
            <div class="card card-user hoverable">
                <div class="card-image">
                    <img src="<%=user.image%>" alt="user-image" class="user-profile-image">
                </div>
                <div class="card-content">
                    <span class="card-title center"><b><%= user.displayName %></b></span>
                    <h6 class="center"><p>Number of Blogs : <%= blogs.length %></p></h6>
                    <h6 class="center"><p>Followers : <%= user.followers.length %></p></h6>
                    <h6 class="center"><p>Following : <%= user.following.length %></p></h6>
                </div>
                <div class="card-action">
                    <% if ( currentUser && !user._id.equals(currentUser._id) ){ %>                    
                        <% if( currentUser && user.followers.includes(currentUser._id)){ %>
                            <a href="/user/unfollow/<%= user._id %>" class="waves-effect waves-light btn btn-large indigo darken-4">
                                <i class="material-icons left">people</i>
                                Following
                            </a>
                        <%}
                        else{%>
                            <a href="/user/follow/<%= user._id %>" class="btn btn-large indigo darken-4">
                                <i class="material-icons left">person_add</i>
                                Follow
                            </a>
                        <%}%>
                    <%} 
                    else if(!currentUser){%>
                        <a href="/user/follow/<%= user._id %>" class="btn btn-large indigo darken-4">
                            <i class="material-icons left">person_add</i>
                            Follow
                        </a>
                    <%}%>
                </div>
                <% if(currentUser && user._id.equals(currentUser._id)){%>
                <div class="card-action">
                    <a href="#upload-photo" class="modal-trigger">
                        <p class="center text-color" style="margin:0;">Change Profile Photo</p>
                    </a>
                </div>
                <% } %>
            </div>
        </div>

        <div class="col s12 col m9 l9">
            <% if (blogs.length>0){ %>
                <p><h3 class="center section white text-color" style="margin: 0; padding: 3px;">BLOGS</h3></p>            
                <% for(i=0;i<blogs.length;i++){ %>
                    <a class="card-link" href="/blog/<%=blogs[i]._id%>" >
                        <div class="card horizontal hvr-grow">
                            <div class="card-image card-image-horizontal">
                                <img class="horizontal-card-image" src="<%= blogs[i].image %>" alt="my-blog-image" >
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <span class="card-title center"><b><%= blogs[i].title %></b></span>
                                    <p class="blog_content_old" style="display: none;"><%= blogs[i].body.substring(0,200)+"..." %></p>
                                    <p class="blog_content_new"   ></p>
                                </div>
                            </div>
                        </div>
                    </a>
                <%}
            } else {
                if( currentUser && user._id.equals(currentUser._id)){%>
                    <p>
                        <h3 class="center section white text-color" style="margin: 0; padding: 3px;">You have no blogs !</h3>
                    </p>                
                <%}
                else{%>
                    <p>
                        <h3 class="center section white text-color" style="margin: 0; padding: 3px;">No blogs !</h3>
                    </p>
                <%}
             } %>                
        </div>
    </div>

<!-- Modal Structure -->
    <div id="upload-photo" class="modal">
        <div class="modal-content">
            <h5>Upload Photo</h5>
            <form action="/user/<%=user._id%>" method="POST" class="mt-3" enctype="multipart/form-data" >
                <div class="file-field input-field">
                    <div class="btn indigo darken-4">
                        <span>Image</span>
                        <input type="file" name="image" accept="image/*">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>                
                <div class="center">
                    <button class="waves-effect waves-light btn indigo darken-4">Submit</button>            
                </div>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            var blogs_length=<%=blogs.length%>;
            var blog_body=document.getElementsByClassName("blog_content_old");
            var blog_body_new=document.getElementsByClassName("blog_content_new");
            for(i=0;i<blogs_length;i++){
                blog_body_new[i].innerHTML=blog_body[i].innerText;
            }
        })
    </script>

<% include ../partials/footer %>