<% include ../partials/header %>

<div class="section white">
    <div class="container">
        <h2 class="header center text-color"><%= blog.title %></h2>
        <%
            var monthNames = [
                'January', 'February', 'March','April', 'May', 'June', 'July','August', 'September', 'October',
                'November', 'December'
            ];
            var d = blog.createdAt.getDate();
            var m = monthNames[blog.createdAt.getMonth()];
            var y = blog.createdAt.getFullYear();
        %>
        <p class="center"><%= d+ ' ' +m+ ' ' +y %></p>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="<%=blog.image%>" alt="blogImage"></div>
</div>

<div class="section white">
    <div class="row container blog" style="margin-top: 3em;">
        <p class="grey-text text-darken-3 lighten-3" style="display: none"  id="blog_content_old">                
            <%=blog.body%>
        </p>
        <p class="ck-content blog-body" id="blog_content_new">                
        </p>
        <div class="divider"></div>
        <div>
            <div class="row mt-2">
                <div class="col s3 m2 l1">
                    <img src="<%= blog.author.image %>" alt="blog-authorImage" style="height: 4em; width:4em;" class="circle">
                </div>
                <div class="col s9 m8 l8 ml-1 mr-2">
                    <span class="title">WRITTEN BY</span>
                    <a href="/user/<%= blog.author._id %>"><h5 class="text-color" style="margin-top: 5px"><strong><%=blog.author.displayName%></strong></h5></a>
                </div>
                <div class="col s6 m2 l2 ml-3">
                    <a href="/user/follow/<%= blog.author._id %>">
                        <button class="btn indigo darken-4">Follow</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row mt-2">
            <div class="col s7 m10"  style="padding-left:0;">
                <button class="accordion btn-flat">Add Comment</button>
                <div class="panel">
                    <div class="row">
                        <form method="POST" action="/blog/<%= blog._id %>/comment">
                            <div class="row">
                                <div class="input-field col s10 m10">
                                    <textarea id="textarea1" class="materialize-textarea" name="comment[text]" placeholder="Write your comment here"></textarea>
                                </div>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                                <div class="input-field col s2 m2">
                                    <button class="waves-effect waves-light btn indigo darken-4">
                                        Post
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <%if(currentUser && blog.author._id.equals(currentUser._id)){%>
                <a class="col s2 m1  btn-flat" href="/blog/<%=blog.id%>/edit">Edit</a>
                <a class="col s2 m1  btn-flat modal-trigger" href="#modal1">Delete</a>
            <% } %>    
        </div>
        <ul class="collection">
            <% if(blog.comments){
                blog.comments.forEach(function(comment){%>
                    <li class="collection-item avatar" style="background:rgba(26,35,126,0.05); min-height: 65px;">
                    <img src="<%= comment.author.image %>" alt="blogComment-userImage" class="circle">
                    <a href="/user/<%= comment.author._id %>"><span class="title text-color "><%=comment.author.displayName%></span></a>
                    <p><%=comment.text%></p>
                    <%if(currentUser && comment.author._id.equals(currentUser._id)){%>
                        <form action="/blog/<%=blog._id%>/comment/<%=comment._id%>?_method=DELETE" method="POST" class="secondary-content" >
                            <button class="btn-flat"><i class="material-icons">delete</i></button>
                        </form>
                    <% } %>
                    </li>
                <%});
            } %>
        </ul>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Are you sure you want to delete ?</h5>
        <p>* This cannot be undone</p>
    </div>
    <div class="modal-footer">
        <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn indigo darken-4">Yes</button>
            <a href="#!" class="modal-close waves-effect waves-light btn indigo darken-4">No</a>
        </form>
    </div>
</div>

<script>
    var blog_body=document.getElementById("blog_content_old").innerText;
    document.getElementById("blog_content_new").innerHTML=blog_body;
</script>
<script type="text/javascript" src="/js/single-blog.js" ></script>

<% include ../partials/footer %>