<% include ../partials/header %>

<div class="section white">
    <div class="container">
        <h2 class="header center"><%= blog.title %></h2>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="<%=blog.image%>"></div>
</div>

<div class="section white">
    <div class="row container" style="margin-top: 3em;">
        <p class="grey-text text-darken-3 lighten-3" style="display: none"  id="blog_content_old">                
            <%=blog.body%>
        </p>
        <p class="ck-content blog-body" id="blog_content_new">                
        </p>
        <hr>
        <div class="row">
            <a class="col s7 m10 btn-flat" >Comments</a>
            <a class="col s2 m1  btn-flat" href="/blog/<%=blog.id%>/edit">Edit</a>
            <form action="/blog/<%=blog._id%>?_method=DELETE" method="POST" class="col s3 m1" >
                <button class="btn-flat">Delete</button>
            </form>
        </div>
    </div>
</div>

<script>
    var blog_body=document.getElementById("blog_content_old").innerText;
    document.getElementById("blog_content_new").innerHTML=blog_body;
</script>

<% include ../partials/footer %>